<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722879115497-pn4plqtkckc7eshge430bavfp7t6gc3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722879115497-pn4plqtkckc7eshge430bavfp7t6gc3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722879115497-23h6sich43q38hadja766mjmh2fo33et.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBc10UyJz6B9Zr9qEgH7gnCjbVa6b3GGcY</string>
	<key>GCM_SENDER_ID</key>
	<string>722879115497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontWeteam</string>
	<key>PROJECT_ID</key>
	<string>weteam-1968a</string>
	<key>STORAGE_BUCKET</key>
	<string>weteam-1968a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722879115497:ios:a60737dff2e659fcc1c078</string>
	<key>DATABASE_URL</key>
	<string>https://weteam-1968a-default-rtdb.firebaseio.com</string>
</dict>
</plist>